[Unit]
Description=RabbitMQ receiver
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash -c /opt/urbunny/receiver.py
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target
