[Unit]
Description=RabbitMQ receiver
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python /opt/urbunny/receiver.py &> /opt/urbunny/receiver.log &
Restart=on-abort


[Install]
WantedBy=multi-user.target
